<div class="input">
    <label
        class="input__label"
        [for]="id()"
    >
        @if (icon()) {
            <i
                [class]="'input__icon fas ' + icon()"
            ></i>
        }
        <span class="input__label-text">{{ label() }}</span>
    </label>
    <input
        class="input__field"
        [disabled]="disabled"
        [id]="id()"
        [placeholder]="placeholder()"
        [required]="required()"
        [type]="type()"
        [value]="value"
        (blur)="onBlur()"
        (input)="handleInput($event)"
    />
</div>
